<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.bootcss.com/froala-editor/2.8.1/css/froala_editor.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/froala-editor/2.8.1/css/froala_style.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/froala-editor/2.8.1/css/plugins/colors.min.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/froala-editor/2.8.1/css/plugins/char_counter.min.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
        window.onload = function () {
            let connectBtn = document.getElementById("connectSSE");
            let disconnectBtn = document.getElementById("disconnectSSE");
            let userIdElement = document.getElementById("userId");
            let userIdInfoElement = document.getElementById("userIdInfo");
            let sse;
            connectBtn.onclick = function () {
                if (!userIdElement.value) {
                    userIdInfoElement.innerText = "userId is empty";
                    console.log("userId is empty")
                    return;
                }
                userIdInfoElement.innerText = userIdElement.value;
                const eventSource = new EventSource('http://localhost:8000/test/sse?uid=' + userIdElement.value);
                eventSource.onopen = (event) => {
                    console.log("onopen", event.readyState, event.target);
                    sse = event.target;
                    let element = document.getElementById("onOpenInfo");
                    element.innerText = JSON.stringify(event.target);
                };
                eventSource.onmessage = (event) => {
                    let element = document.getElementById("onMessageInfo");
                    element.innerText = event.data;
                };
                eventSource.onerror = (event) => {
                    console.log("onerror", event);
                    if (event.readyState === EventSource.CLOSED) {
                        console.log('connection is closed');
                    } else {
                        console.log("Error occured", event);
                    }
                    event.target.close();
                    let element = document.getElementById("onErrorInfo");
                    element.innerText = JSON.stringify(event);
                };
                eventSource.addEventListener("customEventName", (event) => {
                    console.log("Message id is " + event.lastEventId);
                });
            };

            disconnectBtn.onclick = function () {
                if (sse) {
                    sse.close();
                }
            };

        };
    </script>
</head>

<body>

    <div>
        <input id="userId" type="text">
        <button id="connectSSE">Connect</button>
        <button id="disconnectSSE">Disconnect</button>
        <table border="1">
            <tr>
                <td>100aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa啊啊啊</td>
            </tr>
            <tr>
                <td style="white-space:pre"> \n\n要获取某一个 PostgreSQL 数据库的所有 schema，可以使用以下 SQL 查询：\n\nsql\nSELECT schema_name\nFROM
                    information_schema.schemata\nWHERE catalog_name = 'your_database_name';\n\n\n将
                    `your_database_name` 替换为你要查询的数据库名称即可。这个查询将返回一个包含所有 schema 名称的结果集。\n\n如果你想要获取默认 schema 以外的所有
                    schema，可以在查询中添加一个条件：\n\n```sql\nSELECT schema_name\nFROM information_schema.schemata\nWHERE
                    catalog_name = 'your_database_name'\n AND schema_name != 'public';\n```\n\n这个查询将返回除了默认 schema
                    `public` 以外的所有 schema 名称。</td>
            </tr>
        </table>
    </div>

    <div>
        userId: <span id="userIdInfo"></span>
    </div>

    <div>
        onOpen: <span id="onOpenInfo"></span>
    </div>

    <div>
        onMessage: <span id="onMessageInfo"></span>
    </div>

    <div>
        onError: <span id="onErrorInfo"></span>
    </div>

</body>

</html>